"""
    Created by Sayem on 12 October, 2019
"""

__author__ = "sayem"

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'sayem$whatsnext',
        'USER': 'sayem',
        'PASSWORD': 'f0d66322',
        'HOST': 'sayem.mysql.pythonanywhere-services.com'
    }
}
