"""
    Created by Sayem on 12 October, 2019
"""

__author__ = "sayem"

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'whatsnext',
        'USER': 'mysql',
        'PASSWORD': 'mysql',
        'HOST': 'localhost',
        'PORT': '3306'
    }
}
